<h1>Public::EndUsers#show</h1>
<p>Find me in app/views/public/end_users/show.html.erb</p>

<div class="container">
  <div class="row justify-content-center m-3">
   <div class="row">
     <div class="col-3">
       <%= image_tag @end_user.get_user_image(100, 100) %>
     </div>
     <div class="col-8">
        <p><%= @end_user.user_name %></p>
        <p><%= @end_user.sex_i18n %></p>
        <% if @end_user == current_end_user %>
          <p><%= @end_user.address %></p>
          <p><%= @end_user.postal_code %></p>
          <p><%= @end_user.telephone_number %></p>
        <% end %>
     </div>
   </div>
  </div>
</div>
