<div class="container">
  <div class="row m-1">
     <div class="col-5">
       <%= image_tag @end_user.get_user_image(200, 200) %>
     </div>
     <div class="col-7">
        <p><%= @end_user.user_name %></p>
        <p><%= @end_user.sex_i18n %></p>
        <% if @end_user == current_end_user %>
          <p><%= @end_user.address %></p>
          <p><%= @end_user.postal_code %></p>
          <p><%= @end_user.telephone_number %></p>
        <% end %>
     </div>
  </div>
  
  <div class="row justify-content-center">
    <% if @end_user.id == current_end_user.id %>
      <%= link_to "マイページ編集", edit_public_end_user_path, class:"btn btn-success" %>
    <% end %>
  </div>
  
  <div class="row">
    <div class="row">
      <div class="col">公開済み投稿</div>
    </div>
    <div class="row border border-dark rounded">
      <% @published_posts.each do |published_post| %>
      <div class="col">
        <%= link_to public_hot_post_path(published_post.id) do %>
          <%= published_post.title %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="row">
      <div class="col">下書き保存</div>
    </div>
    <div class="row">
      <% @draft_posts.each do |draft_post| %>
      <div class="col">
        <%= link_to public_hot_post_path(draft_post.id) do %>
          <%= draft_post.title %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  
  
  <div class="row">
    <div class="row">
      <div class="col">非公開投稿</div>
    </div>
    <div class="row">
      <% @unpublished_posts.each do |unpublished_post| %>
      <div class="col">
        <%= link_to public_hot_post_path(unpublished_post.id) do %>
          <%= unpublished_post.title %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  
  <div class="row">
    <div class="row">
      <div class="col">いいねした投稿</div>
    </div>
    <div class="row">
      <% @favorite_posts.each do |favorite_post| %>
      <div class="col">
        <%= link_to public_hot_post_path(favorite_post.id) do %>
          <%= favorite_post.title %>
        <% end %>
      </div>
      <div class="col">
        <%= link_to public_hot_post_path(favorite_post.id) do %>
          <%= favorite_post.title %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  
</div>

<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#published">公開中</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#draft">下書き</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#unpublished">非公開</a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div id="published" class="tab-pane fade show active">
      <% @published_posts.each do |published_post| %>
        <div class="row my-1 border border-dark rounded">
          <div class="col">
            <%= link_to public_hot_post_path(published_post.id) do %>
              <%= published_post.title %>
            <% end %>
          </div>
          <div class="col"><%= published_post.genre.name %></div>
          <div class="col">
            <p class="m-0">作成日時:<%= published_post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
            <p class="m-0">更新日時:<%= published_post.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div id="draft" class="tab-pane fade">
      <p>セクション2のコンテンツが表示されます。</p>
    </div>
    <div id="unpublished" class="tab-pane fade">
      <p>セクション3のコンテンツが表示されます。</p>
    </div>
  </div>
</div>