<h1>Public::HotPosts#edit</h1>
<p>Find me in app/views/public/hot_posts/edit.html.erb</p>
<div class="container">
  <h3 class="row">新規投稿</h3>
  <%= form_with model: @hot_post, url: public_hot_post_path, method: :patch do |f| %>
  <div class="row">
    <div class="col">タイトル</div>
    <div class="col"><%= f.text_field :title %></div>
  </div>
  <div class="row">
    <div class="col">本文</div>
    <div class="col"><%= f.text_area :body, class:"form-control item_body" %></div>
  </div>
  <div class="row">
    <div class="col">ジャンル</div>
    <div class="col"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), class:"form-control genre_id" %></div>
  </div>
  <div class="row">
    <div class="col">画像</div>
    <div class="col"><%= f.file_field :post_image, placeholder: "hot_post_image", accept: "image/*", class:"form-control-file item_image" %></div>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="radio" name="published" id="publishbutton" >
    <label class="form-check-label" for="flexRadioDefault1">
      Default radio
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault2">
      Default checked radio
    </label>
  </div>
  
  <div class="row justify-content-center"><%= f.submit '編集完了', class:"btn btn-success" %></div>
  <% end %>
</div>