<h1>Public::HotPosts#edit</h1>
<p>Find me in app/views/public/hot_posts/edit.html.erb</p>
<div class="container">
   <div class="row">
    <% if @hot_post.errors.any? %>
      <%= @hot_post.errors.count %>件のエラーが発生しました
      <ul>
        <% @hot_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <h3 class="row">新規投稿</h3>
  <%= form_with model: @hot_post, url: public_hot_post_path, method: :patch do |f| %>
  <div class="row">
    <div class="col">タイトル</div>
    <div class="col"><%= f.text_field :title %></div>
  </div>
  <div class="row">
    <div class="col">本文</div>
    <div class="col"><%= f.text_area :body, class:"form-control item_body" %></div>
  </div>
  <div class="row">
    <div class="col">ジャンル</div>
    <div class="col"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), class:"form-control genre_id" %></div>
  </div>
  <div class="row">
    <div class="col">画像</div>
    <div class="col"><%= f.file_field :post_image, placeholder: "hot_post_image", accept: "image/*", class:"form-control-file item_image" %></div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.radio_button :status, HotPost.statuses.key(0) %>
      <%= f.label :status, "公開" %>
    </div>
    <div class="col">
      <%= f.radio_button :status, HotPost.statuses.key(1) %>
      <%= f.label :status, "下書き保存" %>
    </div>
    <div class="col">
      <%= f.radio_button :status, HotPost.statuses.key(2) %>
      <%= f.label :status, "非公開" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= f.submit '編集完了', class:"btn btn-success" %>
  </div>
  <% end %>
</div>