<div class="container">
  <div class="row search_post">
    <h3>投稿検索</h3>
    <%= form_with url: public_hot_posts_path, method: :get, local: true, class:"row justify-content-around py-2 search_post_form" do |f| %>
      <div class="col-md-auto">キーワード <%= f.text_field :search, class:"ser-form-control" %></div>
      <div class="col-md-auto">ジャンル <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '選択してください' }, { class:"ser-form-control genre_id" } %></div>
      <div class="col-md-auto"><%= f.submit '投稿検索', name: nil, class:"btn btn-success" %></div>
    <% end %>
  </div>
  <div class="row my-2 justify-content-between">
    <h3 class="col-md-auto">投稿一覧</h3>
    <div class="col-md-auto"><%= link_to "新規投稿", new_public_hot_post_path, class:"btn btn-success" %></div>
  </div>
  <div class="row">
    <div class="col">投稿タイトル</div>
  </div>
  <div class="row">
    <% @hot_posts.each do |hot_post| %>
    <div class="col">
      <div>
        <%= link_to public_hot_post_path(hot_post.id) do %>
          <%= hot_post.title %>
        <% end %>
      </div>
      <div>
        <%= link_to public_end_user_path(hot_post.end_user.id) do%>
          <%= hot_post.end_user.user_name %>
        <% end %>
      </div>
      <div><%= hot_post.genre.name %></div>
    </div>
    <% end %>
  </div>
</div>