<h1>Public::HotPosts#show</h1>
<p>Find me in app/views/public/hot_posts/show.html.erb</p>
<div class="container">
  <% if @hot_post.hot_post_image.attached? %>
    <div class="row"><%= image_tag @hot_post.get_hot_post_image(150, 150) %></div>
  <% end %>
  <div class="row"><%= @hot_post.title %></div>
  <div class="row"><%= @hot_post.genre.name %></div>
  <div class="row"><%= @hot_post.body %></div>
  <div class="row">
    <% if @hot_post.favorited?(current_end_user) %>
      <%= link_to public_hot_post_favorites_path(@hot_post.id), method: :delete do %>
        <span style="color:red;">♥<%= @hot_post.favorites.count %></span>
      <% end%>
    <% else %>
      <%= link_to public_hot_post_favorites_path(@hot_post.id), method: :post do %>
        <span>♥<%= @hot_post.favorites.count %></span>
      <% end%>
    <% end %>
  </div>
  <div class="row justify-content-between">
    <% if @end_user == current_end_user %>
      <div class="col"><%= link_to "編集する", edit_public_hot_post_path(@hot_post.id), class:"btn btn-success" %></div>
      <div class="col"><%= link_to "削除する", public_hot_post_path(@hot_post.id), method: :delete, class:"btn btn-danger", "data-confirm" => "本当に消しますか?" %></div>
    <% end %>
  </div>
  <div class="row">
    <% @comments.each do |comment| %>
      <%= comment.end_user.user_name %>
      <%= comment.created_at.strftime('%Y/%m/%d') %>
      <%= comment.content %>
      <% if comment.end_user == current_end_user %>
        <%= link_to "削除する", public_hot_post_comment_path(comment.id), method: :delete, class:"btn btn-danger", "data-confirm" => "本当に消しますか?" %>
      <% end%>
    <% end %>
  </div>
  <div class="row">
    <%= form_with model: [@hot_post, @comment], url: public_hot_post_comments_path(@hot_post.id) do |f| %>
      <%= f.text_area :content, class:"form-control comment_content" %>
      <%= f.hidden_field :hot_post_id, :value => @hot_post.id %>
      <%= f.hidden_field :end_user_id, :value => current_end_user.id %>
      <%= f.submit 'コメントする', class:"btn btn-success" %>
    <% end %>
  </div>
  
  <div class="row justify-content-center">
    <h4 class="col-md-10 d-block p-2 bg-primary text-white border border-dark" style="margin-bottom: 0px;"><%= @hot_post.title %></h4>
    <% if @hot_post.hot_post_image.attached? %>
      <div class="col-md-10 d-block border border-dark"><%= image_tag @hot_post.get_hot_post_image(150, 150) %></div>
    <% end %>
    <p class=" col-md-10 d-block p-2 bg-dark text-white border border-dark"><%= @hot_post.body %></p>
  </div>
  
</div>


