<div class="container">
  <div class="row pt-md-5">
    <h3>会員一覧</h3>
    <table class="table table-hover table-inverse user_table">
      <thead class="user_table_head">
        <tr>
          <th></th>
          <th>会員ID</th>
          <th>会員名</th>
          <th>会員ステータス</th>
        </tr>
      </thead>
      <% @end_users.each do |end_user| %>
        <tbody>
          <tr>
            <td><%= image_tag end_user.get_user_image(nil, 50) %></td>
            <td><%= end_user.id %></td>
            <td>
              <%= link_to admin_end_user_path(end_user.id) do %>
               <%= end_user.user_name %>
              <% end %>
            </td>
            <td><%= end_user.is_active_status %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class="row justify-content-center"><%= paginate @end_users %></div>
</div>