<h1>Admin::Homes#top</h1>
<p>Find me in app/views/admin/homes/top.html.erb</p>
<div class="container">
  <div class="row">
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>会員Id</th>
          <th>氏名</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @end_users.each do |end_user| %>
      <tbody>
        <tr>
          <td><%= image_tag end_user.get_user_image(100, 100) %></td>
          <td><%= end_user.id %></td>
          <td><%= link_to admin_end_user_path(end_user.id) do %>
               <%= end_user.name %>
              <% end %>
          </td>
          <td><%= end_user.is_active_status %></td>
        </tr>
      </tbody>
      <% end %>
    </table>

  </div>
</div>