<div class="row justify-content-around">
  <div class="col-md-auto">
    <p class="row">
      <%= flash[:notice] %>
    </p>
    <p class="row">
      <%= flash.now[:alert] %>
    </p>
  </div>
  <div class="col-md-auto">
    <% if @hot_spring.errors.any? %>
      <p class="p-0"><%= @hot_spring.errors.count %>件のエラーが発生しました。</p>
      <% @hot_spring.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
  </div>
</div>

<div class="m-md-2 edit_spring_form border rounded">
<h3>温泉編集フォーム</h3>
  <%= form_with model: @hot_spring, url: admin_hot_spring_path, method: :patch do |f| %>
    <div class="row justify-content-center py-1">
      <div class="col-md-3">温泉名</div>
      <div class="col-md-6"><%= f.text_field :name %></div>
    </div>
    <div class="row justify-content-center py-1">
      <div class="col-md-3">本文</div>
      <div class="col-md-6"><%= f.text_area :introduction, class:"form-control" %></div>
    </div>
    <div class="row justify-content-center py-1">
      <div class="col-md-3">住所(県名)</div>
      <div class="col-md-6">
        <%= f.select :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name, { :selected => @hot_spring.prefecture_id }), class:"form-control prefecture_id" %>
      </div>
    </div>
    <div class="row justify-content-center py-1">
      <div class="col-md-3">住所(市町村以降)</div>
      <div class="col-md-6"><%= f.text_field :address %></div>
    </div>
    <div class="row justify-content-center py-1">
      <div class="col-md-3">郵便番号</div>
      <div class="col-md-6"><%= f.text_field :postal_code %></div>
    </div>
    <div class="row justify-content-center py-1">
      <div class="col-md-3">電話番号</div>
      <div class="col-md-6"><%= f.text_field :telephone_number %></div>
    </div>
    <div class="row justify-content-center py-1">
      <div class="col-md-3">アクセス</div>
      <div class="col-md-6"><%= f.text_field :access %></div>
    </div>
    <div class="row justify-content-center py-1">
      <div class="col-md-3">画像</div>
      <div class="col-md-6"><%= f.file_field :hot_spring_image, placeholder: "hot_spring_image", accept: "image/*", class:"form-control-file" %></div>
    </div>
    <div class="row justify-content-around py-2">
      <div class="col-md-auto mx-md-1">
        <%= f.submit "編集完了", class:"btn btn-success" %>
      </div>
      <div class="col-md-auto mx-md-1">
        <%= link_to "編集を止める", admin_hot_spring_path(@hot_spring.id), class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
