<h1>Admin::HotSprings#index</h1>
<p>Find me in app/views/admin/hot_springs/index.html.erb</p>
<div class="container">
  <h3 class="row">新規温泉地</h3>
  <%= form_with model: @hot_spring, url: admin_hot_springs_path, method: :post do |f| %>
  <div class="row">
    <div class="col">温泉地画像</div>
    <div class="col"><%= f.file_field :hot_spring_image, placeholder: "hot_spring_image", accept: "image/*", class:"form-control-file" %></div>
  </div>
  <div class="row">
    <div class="col">温泉名</div>
    <div class="col"><%= f.text_field :name %></div>
  </div>
  <div class="row">
    <div class="col">本文</div>
    <div class="col"><%= f.text_area :introductiion, class:"form-control" %></div>
  </div>
  <div class="row">
    <div class="col">住民(県名)</div>
    <div class="col"><%= f.select :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name), class:"form-control prefecture_id" %></div>
  </div>
  <div class="row">
    <div class="col">住所(市町村から)</div>
    <div class="col"><%= f.text_field :address %></div>
  </div>
  <div class="row">
    <div class="col">郵便番号</div>
    <div class="col"><%= f.text_field :postal_code %></div>
  </div>
  <div class="row">
    <div class="col">電話番号</div>
    <div class="col"><%= f.text_field :telephone_number %></div>
  </div>
  <div class="row">
    <div class="col">アクセス</div>
    <div class="col"><%= f.text_field :access %></div>
  </div>
  <div class="row justify-content-center"><%= f.submit '新規登録', class:"btn btn-success" %></div>
  <% end %>
</div>