<!DOCTYPE html>
<html>
  <head>
    <title>Spalife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/42b17b159c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main_body">
    <div class="row">
      <div class="col-md-auto p-md-0"><%= render 'layouts/sidebar'%></div>
      <div class="col-md p-md-0">
        <header class="header">
          <div class="row justify-content-center" >
              <div class="m-0">
                <% if admin_signed_in? %>
                  <%= link_to admin_top_path do%>
                    <%= image_tag "spalife_logo.png", height: 50 %>
                  <% end %>
                <% else %>
                  <%= link_to root_path do%>
                    <%= image_tag "spalife_logo.png", height: 50 %>
                  <% end %>
                <% end %>
              </div>
          </div>
        </header>

        <main class="main">
          <div class="container">
            <div class="row mt-md-2 justify-content-center">
              <div class="col-md-auto">
                <p class="row">
                  <%= flash[:notice] %>
                </p>
                <p class="row">
                  <%= flash.now[:alert] %>
                </p>
              </div>
            </div>
            <%= yield %>
          </div>
        </main>

      </div>
    </div>
    <footer class="row-md footer"></footer>
  </body>
</html>
