<!DOCTYPE html>
<html>
  <head>
    <title>Spalife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <header>
        <div class="container">
          <div class="row justify-content-center">
            <h1 class="col-5">
              <%= link_to root_path do%>
                SPALIFE
              <% end %>
            </h1>
          </div>
        </div>
    </header>

    <main><%= yield %></main>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto"></div>
        </div>
      </div>
    </footer>
  </body>
</html>
