<!DOCTYPE html>
<html>
  <head>
    <title>Spalife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/42b17b159c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col-md-auto p-md-0"><%= render 'layouts/sidebar'%></div>
      <div class="col-md p-md-0">
        <header class="header">
          <div class="row justify-content-center" >
            <h1 class="col-md-auto">
              <%= link_to root_path do %>
                SPALIFE
              <% end %>
            </h1>
            <p>
              <%= flash[:notice] %>
              <%= flash.now[:alert] %>
            </p>
          </div>
        </header>

        <main class="main"><%= yield %></main>

      </div>
    </div>
    <footer class="row-md footer"></footer>
  </body>
</html>
